stages:
  - build

build:
  stage: build
  image: golang:1.10
  cache:
    paths:
     - /go/src/github.com
     - /go/src/gopkg.in
     - /go/src/golang.org
  before_script:
#    - cd $GOPATH/src
#    - mkdir -p gitlab.com/$CI_PROJECT_NAMESPACE
#    - cd gitlab.com/$CI_PROJECT_NAMESPACE
#    - mkdir -p sentinel
#    - ln -s /builds/baymax19/multisig $GOPATH/src
#    - cd $GOPATH/src/multisig
#    - dep ensure
    - cd $GOPATH/src
    - mkdir -p gitlab.com/$CI_PROJECT_NAMESPACE
    - cd gitlab.com/$CI_PROJECT_NAMESPACE
    - ln -s $CI_PROJECT_DIR
    - cd $CI_PROJECT_NAME
    - echo $GOBIN,$GOPATH
    - export GOPATH=$HOME/go
    - export GOBIN=$GOPATH/bin
    - export PATH=$PATH:$GOBIN:$GOPATH
  script:
    - make all