stages:
  - build

build:
  stage: build
  image: golang:1.9.2
  before_script:
    - cd $GOPATH/src
#    - go get github.com/tools/godep
#    - mkdir -p gitlab.com/$CI_PROJECT_NAMESPACE
#    - cd gitlab.com/$CI_PROJECT_NAMESPACE
    - mkdir -p sentinel
    - ln -s /builds/baymax19/sentinel $GOPATH/src
    - cd $GOPATH/src/sentinel
#    - dep init && dep ensure
    - echo $GOBIN
  script:
    - make all